# dd-bash-lib.rb, rendered from dd-bash-lib.rb.j2
#
# DesmoDyne BashLib brew formula
#
# author  : stefan schablowski
# contact : stefan.schablowski@desmodyne.com
# created : 2019-03-09


# general info on brew and brew formulae:
# https://docs.brew.sh
# https://github.com/Homebrew/brew/blob/master/docs/README.md
# https://github.com/Homebrew/brew/blob/master/docs/Formula-Cookbook.md
# https://github.com/Homebrew/brew/blob/master/docs/How-to-Create-and-Maintain-a-Tap.md


# formula file and Ruby class name concept:
# https://github.com/Homebrew/brew/blob/master/ ...
#  ... docs/Formula-Cookbook.md#a-quick-word-on-naming

class DdBashLib < Formula
  desc     "DesmoDyne BashLib"
  homepage "{{ homepage }}"
  url      "{{ archive_url }}"
  sha256   "{{ sha256_sum }}"

  # TODO: introduce convention if to list dependencies that macOS also provides:
  # curl, git, etc. might have to be installed if latest version is required

  # TODO: these are only required for CI/CD test / upload / etc. scripts
  depends_on "bats"
  depends_on "jinja2-cli"

  # required to update default bash 3 to version 4 (or 5)
  depends_on "bash"
  # req'd for ggrep
  depends_on "grep"
  # req'd for gdate, greadlink, realpath and others; sha256sum for CI/CD
  depends_on "coreutils"
  # req'd for gxargs
  depends_on "findutils"
  # req'd for gsed
  depends_on "gnu-sed"
  depends_on "jq"
  depends_on "yq"

  # https://github.com/Homebrew/brew/blob/master/ ...
  #  ... docs/Formula-Cookbook.md#just-moving-some-files
  def install
    lib.install "code/lib/dd-bash-lib.sh"
  end
end
